/* css reset */

* {
  margin: 0;
  padding: 0;
}

/* tag generici */

h1 {
  padding-top: 20px;
}



/* Contenitore */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}


/* intestazione */
 
.logo-sfondo img {
  width: 200px;
  margin-top: 20px;
}

.logo-sfondo {
  height: 85px;
  padding: 10px;
  background-color: #4EA0FF;
  background-image: url(../img/pattern.png);
  background-size: 35%;
}


/* corpo del documento */


main section div {
  padding-top: 10px;
  color: gray;
}

main section spam {
  color: #34AFE7;
}

.data {
  font-size: 0.8rem;
  color: gray;
}

main section p {
  font-size: 0.8rem;
}


main p {
  padding-bottom: 20px;
}

main ul {
  padding-left: 14px;
  padding-bottom: 25px;
}

main table {
  width: 100%;
  border-collapse: collapse; 
  border-spacing: 0; 
  margin-bottom: 30px;
}


main table thead {
  color: white;
  text-align: left;
  background-color: #1FA9E5;
}

main table thead .text {
  width: 50%;
}

main table tbody {
  background-color: #B2E4F2;
}

main table tbody .riga-centro {
  background-color: white;
}





/* pie di pagina */

footer h4 {
  color: #838383;
  font-weight: 700;
}

.foot {
  width: 200px;
  height: 150px;
  padding-bottom: 10px;
  background-size: cover;
  background-position: center;
}

.uno {
  background-image: url(../img/monitor.jpg);
  margin-bottom: 10px;
  margin-top: 10px;
}

.due {
  background-image: url(../img/graph.jpg);
  margin-bottom: 20px;
}

.foot p {
  padding: 15px 10px;
  color: white;
  font-weight: bold;
}