/* css reset */

* {
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 10px;
}

h5 {
  padding-bottom: 10px;
}

/* Contenitore */

.contenitore {
  width: 57%;
  max-width: 1020px;
  margin: 0 auto;
}

/* Logo e sfondo */
 
.logo-sfondo img {
  width: 200px;
  padding: 25px 10px;
}

.logo-sfondo {
  height: 85px;
  background-color: #4EA0FF;
  background-image: url(../img/pattern.png);
  background-size: contain;
}